:root {
  --col-white: #fff;
  --col-black: #000;
  --col-one: #00141e;
  --col-one-rgb: 0 20 30;
  --col-two: #112d3a;
  --col-two-rgb: 17 45 58;
  --col-three: #224556;
  --col-four: #335d72;
  --col-four-rgb: 51 93 114;
  --col-five: #43758e;
  --col-six: #72a0b2;
  --col-seven: #ffb703;
  --col-eight: #fb8500;
  --col-movie-nav: #38667e;
}

/* dark to light text*/
.color-one {
  color: var(--col-one);
}
.color-two {
  color: var(--col-two);
}
.color-three {
  color: var(--col-three);
}
.color-four {
  color: var(--col-four);
}
.color-five {
  color: var(--col-five);
}
.color-six {
  color: var(--col-six);
}
.color-seven {
  color: var(--col-seven);
}
.color-eight {
  color: var(--col-eight);
}
.color-nine {
  color: var(--col-nine);
}
.color-ten {
  color: var(--col-ten);
}
.color-white {
  color: var(--col-white);
}
.color-black {
  color: var(--col-black);
}

.myborder-seven {
  border-color: var(--col-seven);
}

/* navbars */
.mybg-mobile-nav {
  background-color: var(--col-movie-nav);
}
.bg-mobile-menu {
  background-color: rgb(var(--col-four-rgb) / 0.8);
}
.bg-mobile-search {
  background-color: rgb(var(--col-four-rgb) / 0.8);
}
.mybg-desktop-nav {
  background-color: rgb(var(--col-one-rgb) / 0.6);
}

/* gradients*/
.detail-gradient {
  background-image: linear-gradient(
    to right,
    var(--col-eight),
    var(--col-seven),
    transparent 90%
  );
}
.download-gradient-one {
  background-image: linear-gradient(
    to right,
    var(--col-eight),
    transparent 80%
  );
}
.download-gradient-two {
  background-image: linear-gradient(to left, var(--col-seven), transparent 80%);
}
.footer-gradient {
  background-image: linear-gradient(to top, var(--col-one) 50%, var(--col-two));
}

/* dark to light bg*/
.bg-one {
  background-color: var(--col-one);
}
.bg-two {
  background-color: var(--col-two);
}
.bg-three {
  background-color: var(--col-three);
}
.bg-four {
  background-color: var(--col-four);
}
.bg-five {
  background-color: var(--col-five);
}
.bg-six {
  background-color: var(--col-six);
}
.bg-seven {
  background-color: var(--col-seven);
}
.bg-eight {
  background-color: var(--col-eight);
}
.bg-nine {
  background-color: var(--col-nine);
}
.bg-ten {
  background-color: var(--col-ten);
}
.bg-two-hover:hover {
  background-color: var(--col-two);
}
