@tailwind base;
@tailwind utilities;
@tailwind components;

/* scroll bar color */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  @apply bg-my-white-min
}

::-webkit-scrollbar-track {
  @apply bg-my-black-max
}

::-webkit-scrollbar-button {
  margin: 2px 0px;
}

* {
  scroll-behavior: smooth;
}

/* Optional: Style for all bullets */
.swiper-pagination-bullet {
  @apply bg-my-white-max opacity-100 !important
}

/* Style for the active bullet */
.swiper-pagination-bullet-active {
  @apply bg-my-green-min opacity-100 !important
}